<section>
  <div class="wrapper">
    <h1>Shopping List</h1>
    <p>This is a shopping list CRUD component, with FireBase FireStore database integration.</p>
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <div class="form-fields mb-3 row">
        <div class="col-md-8">
          <input #titleInput formControlName="formTitle" type="text" class="form-control text-bg-light" placeholder="Title" />
        </div>
        <div class="col-md-4">
          <input #quantityInput formControlName="formQuantity" type="text" class="form-control text-bg-light" placeholder="Quantity" />
        </div>
      </div>
      <div class="buttons mb-3">
        <button type="submit" class="btn" [ngClass]="{ 'btn-dark': !isEditing, 'btn-success': isEditing }">
          {{ isEditing ? 'Save' : 'Add Item' }}
        </button>
        <button type="button" *ngIf="isEditing" (click)="onCancel()" class="btn btn-secondary">Close</button>
      </div>
    </form>
    <ul class="list-group mb-4">
      <li class="list-group-item text-bg-light" *ngFor="let item of shoppinglist$ | async" [ngClass]="item.purchased ? 'purchased' : ''">
        <div class="list-group-item-caption">
          <span class="list-group-item-title">{{ item.title }}</span>
          <span class="badge">{{ item.quantity }}</span>
        </div>
        <div class="buttons">
          <button (click)="onPurchase(item)" [ngClass]="item.purchased ? 'btn-dark' : 'btn-success'" type="button" class="btn">
            {{ item.purchased ? 'Undo' : 'Complete' }}
          </button>
          <button (click)="onEdit(item.id, item.title, item.quantity)" type="button" class="btn btn-warning">Edit</button>
          <button (click)="onDelete(item.id)" type="button" class="btn btn-danger">Delete</button>
        </div>
      </li>
    </ul>

    <h2>Purchased Items</h2>
    <ul class="list-group">
      <li class="list-group-item text-bg-light" *ngFor="let item of purchasedlist$ | async" [ngClass]="item.purchased ? '' : 'purchased'">
        <div class="list-group-item-caption">
          <span class="list-group-item-title">{{ item.title }}</span>
          <span class="badge">{{ item.quantity }}</span>
        </div>
        <div class="buttons">
          <button (click)="onUndo(item)" type="button" class="btn btn-dark">Undo</button>
          <button (click)="onEditPurchase(item.id, item.title, item.quantity)" type="button" class="btn btn-warning">Edit</button>
          <button (click)="onDeletePurchase(item.id)" type="button" class="btn btn-danger">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</section>
