@import 'shared';
$blue-light: #00b4db;
:host {
  box-shadow: $shadow;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.child-list {
  margin-left: 30px;
  &-item {
    &-link {
      padding: 5px 0;
      display: block;
      &:hover {
        color: $blue-light !important;
      }
    }
  }
}
