<section>
  <div class="wrapper">
    <h1>Login</h1>
    <form [formGroup]="loginForm" class="card" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input formControlName="formEmail" type="email" class="form-control" id="email" aria-describedby="emailHelp" />
        <div *ngIf="loginForm.controls['formEmail'].errors?.['required'] && loginForm.controls['formEmail'].touched" class="text-danger">
          Az email mező kitöltése kötelező.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="formPassword" type="password" class="form-control" id="password" />
        <div
          *ngIf="loginForm.controls['formPassword'].errors?.['required'] && loginForm.controls['formPassword'].touched"
          class="text-danger"
        >
          Az jelszó mező kitöltése kötelező.
        </div>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</section>
