<h1>Személyi kölcsön kalkulátor</h1>
<h2>Kölcsön tulajdonságai</h2>
<form [formGroup]="form" class="calculator">
  <div class="row">
    <div class="col">
      <label class="form-label" for="formAmount">Kölcsön összege</label>
    </div>
    <div class="col">
      <div class="input-group">
        <input type="text" id="formAmount" [value]="formattedAmount" (input)="onAmountInput($event)" class="form-control" aria-label="Ft" />
        <span class="input-group-text">Ft</span>
      </div>
    </div>
  </div>
  <div class="range">
    <label for="rangeAmount" class="form-label"></label>
    <input
      type="range"
      min="1000000"
      max="10000000"
      step="100000"
      [value]="1000000"
      formControlName="rangeAmount"
      id="rangeAmount"
      class="form-range"
    />
  </div>
  <div class="range-caption">
    <span>500 000 Ft</span>
    <span>10 000 000 Ft</span>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <label for="formTerm" class="form-label">Futamidő</label>
    </div>
    <div class="col">
      <div class="input-group">
        <input type="text" formControlName="formTerm" (input)="onTermInput($event)" id="formTerm" class="form-control" aria-label="hónap" />
        <span class="input-group-text">hónap</span>
      </div>
    </div>
  </div>
  <div class="range">
    <label for="rangeTerm" class="form-label"></label>
    <input type="range" min="12" max="84" step="1" [value]="72" formControlName="rangeTerm" id="rangeTerm" class="form-range" />
  </div>
  <div class="range-caption">
    <span>12 hónap</span>
    <span>72 hónap</span>
  </div>
</form>

<h2>Kalkuláció Eredménye</h2>
<div class="result">
  <div class="result-card">
    <span class="result-card-text">Havi törlesztőrészlet: </span>
    <strong class="result-card-amount">{{ haviTorleszto | currency : 'HUF' : 'Ft' : '1.0-0' : 'hu-HU' }}</strong>
  </div>

  <div class="result-card">
    <span class="result-card-text">Teljes visszafizetendő összeg: </span>
    <span class="result-card-amount">{{ teljesVisszafizetendo | currency : 'HUF' : 'Ft' : '1.0-0' : 'hu-HU' }}</span>
  </div>

  <div class="result-card">
    <span class="result-card-text">Hitel teljes díja: </span>
    <span class="result-card-amount">{{ hitelTeljesDija | currency : 'HUF' : 'Ft' : '1.0-0' : 'hu-HU' }}</span>
  </div>
</div>
